#home-cam__modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

#home-cam__loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-cam__body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

#home-cam__body video {
  height: 100%;
  width: 100%;
}
